In [27]:
import pandas as pd

# 讀取資料
df = pd.read_csv('104年在職教師學歷、公私立別、教育階段之情況.csv')
df.head()

    教育階段 公私立別      合計    專科  專科百分比     大學  大學百分比      碩士  碩士百分比    博士  博士百分比
0  103年度   總計  194717  1362   0.70  92630  47.57   98331  50.50  2394   1.23
1  104年度   總計  192035  1248   0.65  84516  44.01  103709  54.01  2562   1.33
2  104年度   公立  168631   309   0.18  70710  41.93   95234  56.47  2378   1.41
3  104年度   私立   23404   939   4.01  13806  58.99    8475  36.21   184   0.79
4    幼兒園   小計   12113   944   7.79   8640  71.33    2514  20.75    15   0.12

# Q1: 104年度的公立和私立學校的大學學歷的教師差異？

In [29]:
# 取出 104 年度的資料
df_104 = df[df['教育階段'] == '104年度']

# 取出公立學校的資料
df_public = df_104[df_104['公私立別'] == '公立']

# 取出私立學校的資料
df_private = df_104[df_104['公私立別'] == '私立']

# 計算公立學校和私立學校各自的大學百分比
public_college_percentage = df_public['大學百分比'].sum()
private_college_percentage = df_private['大學百分比'].sum()

# 計算結果
print('公立學校大學學歷百分比：{:.2f}%'.format(public_college_percentage))
print('私立學校大學學歷百分比：{:.2f}%'.format(private_college_percentage))

公立學校大學學歷百分比：41.93%
私立學校大學學歷百分比：58.99%

得出: 大學學歷的教師，任職於私立學校的比例較高

# Q2: 任職於何種教育階段中的大學學歷教師比例最高？

In [36]:
# 刪除 "103年度" 和 "104年度" 的資料
df = df[~df['教育階段'].isin(['103年度', '104年度'])]

# 以 "教育階段" 為分組，計算大學百分比平均值
univ_pct_mean_by_edu_level = df.groupby('教育階段')['大學百分比'].mean()

# 取出大學比例最高的教育階段
max_univ_pct_edu_level = univ_pct_mean_by_edu_level.idxmax()

print(f"大學比例最高的教育階段為 {max_univ_pct_edu_level}")

大學比例最高的教育階段為 幼兒園

得出: 大學學歷的教師，最多任職於幼兒園

# Q3: 任職於何種教育階段中的碩士學歷教師比例最高？

In [42]:
# 去除103年度和104年度的資料
df = df[(df['教育階段'] != '103年度') & (df['教育階段'] != '104年度')]

# 依照碩士比例排序，取出碩士比例最高的一筆
highest_master = df.sort_values(by='碩士百分比', ascending=False).iloc[0]

print(f"碩士比例最高的教育階段是：{highest_master['教育階段']}，碩士比例為：{highest_master['碩士百分比']}%")

碩士比例最高的教育階段是：高級職業學校，碩士比例為：69.21%

得出: 碩士學歷的教師，最多任職於高職

# Q4: 任職於何種教育階段中的博士學歷教師比例最高？

In [43]:
# 刪除 "103年度" 和 "104年度" 的資料
df = df[~df['教育階段'].isin(['103年度', '104年度'])]

# 依照博士比例排序，取出博士比例最高的一筆
highest_phD = df.sort_values(by='博士百分比', ascending=False).iloc[0]

print(f"博士比例最高的教育階段是：{highest_phD['教育階段']}，博士比例為：{highest_phD['博士百分比']}%")

博士比例最高的教育階段是：矯正學校，博士比例為：5.19%

得出: 博士學歷的老師，最多任職於矯正學校

# Q5: 何種年齡層的教師任職於高中的人數最多?

In [68]:
# 讀取資料
df2 = pd.read_csv('104年在職教師年齡層、各教育階段公私立別人數之情況.csv')
df2.head()

,年齡層,總計,百分比,合計公立,合計私立,幼兒園公立,幼兒園私立,國民小學公立,國民小學私立,國民中學公立,國民中學私立,高級中學公立,高級中學私立,高級職業學校公立,高級職業學校私立,特殊教育學校公立,矯正學校公立
0,103年度,"194,717",0.00,"170,541","24,176","5,255","6,600","86,746","1,499","44,996",511.00,"21,498","11,889","10,433","3,677","1,537",76.00
1,104年度,"192,035",100.00,"168,631","23,404","5,790","6,323","85,349","1,499","44,033",386.00,"21,465","11,770","10,391","3,426","1,526",77.00
2,平均年齡,41.58,0.00,41.49,42.22,40.04,42.1,42.25,38.26,40.27,41.05,41.26,42.6,41.9,43.02,39.66,43.38
3,22-29,"11,211",5.84,"9,213","1,998",895,685,"2,881",138,"3,361",25.00,"1,319",920,553,230,202,2.00
4,30-34,"24,713",12.87,"21,212","3,501",839,822,"8,340",434,"7,009",58.00,"3,196","1,732","1,510",455,312,6.00

In [70]:
# 刪除 "103年度" 和 "104年度" 的資料
df = df[~df['年齡層'].isin(['103年度', '104年度','平均年齡'])]

# 以 "教育階段" 為分組，計算大學百分比平均值
univ_pct_mean_by_edu_level = df.groupby('年齡層')['高級中學公立,高級中學私立'].mean()

# 取出大學比例最高的教育階段
max_univ_pct_edu_level = univ_pct_mean_by_edu_level.idxmax()

print(f"大學比例最高的教育階段為 {max_univ_pct_edu_level}")

KeyError: 'Column not found: 高級中學 公立,高級中學 私立'