In [121]:
# 想要把第一個csv檔導入

In [122]:
import pandas as pd

df = pd.read_csv('FirstTest.csv')

df.head()

,RptNo,RptName,StatCourseNo,StatCourseName,DataDate,PlaceNo,PlaceName,PeriodNo,PeriodName,Complex1,...,Complex5,Complex5Name,DeriveNo,DeriveExplain,FValue,SValue,RptDeptNo,RptDeptName,CreateTime,ModifyTime
0,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,4233275,NaN,387040000E,教育局,2016/12/16 上午 09:38:58,2017/3/9 下午 01:27:27
1,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,2231696,NaN,387040000E,教育局,2016/12/16 上午 09:38:58,2017/3/9 下午 01:27:27
2,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a013,高級中等學校教育經費概況(預、決算數)-預算數-經費來源(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,2300100002,...,0,NaN,0,NaN,7219409,NaN,387040000E,教育局,2016/12/16 上午 09:38:58,2017/3/9 下午 01:27:27
3,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000101,...,0,NaN,0,NaN,4216055,NaN,387040000E,教育局,2016/12/16 上午 09:38:58,2017/3/9 下午 01:27:27
4,10440-01-01-2,臺中市高級中等學校教育經費概況(預、決算數),1044001a014,高級中等學校教育經費概況(預、決算數)-預算數-經費支出(單位:千元),2015/1/1 上午 12:00:00,10000066000,臺中市,Y,年,230010000102,...,0,NaN,0,NaN,2129704,NaN,387040000E,教育局,2016/12/16 上午 09:38:58,2017/3/9 下午 01:27:27

In [123]:
temp = df[['Complex2Name', 'FValue']]
temp

   Complex2Name   FValue
0           NaN  4233275
1           NaN  2231696
2           NaN  7219409
3          經常支出  4216055
4          經常支出  2129704
5          經常支出  5917663
6          資本支出   193089
7          資本支出   101992
8          資本支出  2037579
9          償還借款        0
10         償還借款        0
11         償還借款   228382
12     經常支出報廢金額        0
13     經常支出報廢金額        0
14          NaN  4631696
15          NaN  2205193
16          NaN  7185789
17         經常支出  4362823
18         經常支出  2084315
19         經常支出  5934732
20         資本支出   209431
21         資本支出    60252
22         資本支出  2111732
23         償還借款        0
24         償還借款        0
25         償還借款   341616
26     經常支出報廢金額   152212
27     折舊、折耗及攤銷   465977
28     折舊、折耗及攤銷        0
29     折舊、折耗及攤銷        0
30     經常支出報廢金額        0
31     經常支出報廢金額        0
32     經常支出報廢金額   382575
33     折舊、折耗及攤銷   481232
34     折舊、折耗及攤銷        0
35     折舊、折耗及攤銷        0

In [124]:
# 2015的預算資料
type1 = temp.groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [125]:
type1['year'] = 2015
type1

  Complex2Name    FValue  year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015

In [126]:
# 2016的預算資料

In [127]:
df2016 = pd.read_csv('2016.csv')

In [128]:
type2 = df2017[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [129]:
type2['year'] = 2016

In [130]:
type2

  Complex2Name    FValue  year
0         償還借款   1513842  2016
1     折舊、折耗及攤銷    116655  2016
2         經常支出  23061479  2016
3     經常支出報廢金額    566751  2016
4         資本支出   5574950  2016

In [131]:
# 2017的預算資料

In [132]:
df2017 = pd.read_csv('2017.csv')

In [133]:
type3 = df2017[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [134]:
type3['year'] = 2017

In [135]:
type3

  Complex2Name    FValue  year
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017

In [136]:
# 2018的預算資料

In [137]:
df2018 = pd.read_csv('2018.csv')

In [138]:
type4 = df2018[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [139]:
type4['year'] = 2018

In [140]:
type4

  Complex2Name    FValue  year
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018

In [141]:
frames = [type1, type2, type3, type4]

result = pd.concat(frames)

In [142]:
result

  Complex2Name    FValue  year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015
0         償還借款   1513842  2016
1     折舊、折耗及攤銷    116655  2016
2         經常支出  23061479  2016
3     經常支出報廢金額    566751  2016
4         資本支出   5574950  2016
0         償還借款   1513842  2017
1     折舊、折耗及攤銷    116655  2017
2         經常支出  23061479  2017
3     經常支出報廢金額    566751  2017
4         資本支出   5574950  2017
0         償還借款   2568559  2018
1     折舊、折耗及攤銷    189090  2018
2         經常支出  23744400  2018
3     經常支出報廢金額   5724945  2018
4         資本支出   5319702  2018